{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
<link rel="stylesheet" href="{% static 'assets/css/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/color.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

<script src="{% static 'assets/js/custom.js' %}"></script>
<script src="{% static 'assets/lib/slick/slick.js' %}"></script>
<script src="{% static 'assets/lib/select2/js/select2.full.min.js' %}"></script>

{% endblock head %}

{% block main %}

<div class="page-header" style="padding-bottom:15px; border-bottom: 1px solid #000">
    <h1>Arrays Questions</h1>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="table-responsive question-list-table">
            <table class="table table-striped">
                <thead>
                    <tr class="reactable-column-header">
                        <th width="10%" scope="col"><strong>#</strong></th>
                        <th width="20%" scope="col"><strong>Title</strong></th>
                        <th width="20%" scope="col"><strong>Difficulty</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><div><a href="{% url 'problem' %}">Two Sum</a>&nbsp;&nbsp;&nbsp;&nbsp;</div></td>
                        <td><span class="label label-success round">Easy</span></td>

                    </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>

{% endblock main %}